<div class="about-section">
    <h1>About Us Page</h1>
    <p>The creaters of Exam Portal</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="\assets\images\Riddhi.jpg" alt="Riddhi" style="width:100%">
        <div class="container">
          <h2>Riddhi Doshi</h2>
          <p class="title">Team Lead</p>
          <p>Riddhi.Doshi@lntinfotech.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="\assets\images\Neha.jpg" alt="Neha" style="width:100%">
        <div class="container">
          <h2>Neha Mahesha</h2>
          <p class="title">Team Member</p>
          <p>Neha.Mahesha@lntinfotech.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="\assets\images\adya.jpg" alt="Adya" style="width:100%">
        <div class="container">
          <h2>Adya Thakur</h2>
          <p class="title">Team Member</p>
          <p>Adya.Thakur@lntinfotech.com</p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="\assets\images\JayC.jpg" alt="Jay" style="width:100%">
          <div class="container">
            <h2>Jay Cheddha</h2>
            <p class="title">Team Member</p>
            <p>jay.chheda@lntinfotech.com</p>
          </div>
        </div>
      </div>
  </div>
